<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<aside th:replace="layout/layout :: aside"></aside>

	<main id="main" class="main">
		<div class="pagetitle">
	      <h1>Trabajador</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a th:href="@{/trabajador/listar}">Listar</a></li>
	          <li class="breadcrumb-item active">Crear</li>
	        </ol>
	      </nav>
	    </div>
	    <hr style="color: blue;"  size="10"/>
	    <section class="section dashboard">
	    	<div class="row">
	    		<div class="col-lg-12">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="card">
	    						<div class="card-body" layout:fragment="contenido">
									<div th:replace="layout/mensajes :: mensajes"></div>

									<form th:action="@{/trabajador/form}" th:object="${trabajador}" method="post" enctype="multipart/form-data">
										
										<br>
										<div class="row">
											<div class="col"><p><strong>Datos Personales</strong></div>
											<div class="dropdown-divider col-sm-9"></div>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<h5><label class="col">Rol:</label></h5>
												<div class="position-relative mb-4">
		    										<select id="roles" class="form-control" name="rol_id" >
														<option  selected disabled>Elija una opcion</option>
														<th:block th:each="rol:${roles}" >
															<option th:selected="${trabajador.getRoles().get(0).getId()== rol.id}"  th:value="${rol.id}" th:text="${rol.descripcion}"></option>
														</th:block>
		    										</select>
		    									</div>
											</div>
											<div class="col-sm-4">
												<h5><label class="col">DNI:</label></h5>
												<div class="position-relative">
												<input type="text" id="DNI" th:field="*{DNI}" class="form-control" 
														maxlength="8" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}"></small>
												</div>
											</div>
											<div class="col-sm-4">
												<h5><label class="col">Foto:</label></h5>
												<div class="position-relative">
														<input accept="image/*" type="file" name="file" class="form-control"/>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<h5><label class="col">Nombre Completo:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="nombreCompleto" th:field="*{nombreCompleto}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('nombreCompleto')}" th:errors="*{nombreCompleto}"></small>		
												</div>
											</div>
											<div class="col-sm-3">
												<h5><label class="col">Apellido Paterno:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="apellidoPaterno" th:field="*{apellidoPaterno}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="*{apellidoPaterno}"></small>		
												</div>
											</div>
											<div class="col-sm-3">
												<h5><label class="col">Apellido Materno:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="apellidoMaterno" th:field="*{apellidoMaterno}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('apellidoMaterno')}" th:errors="*{apellidoMaterno}"></small>		
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-3">
												<h5><label class="col">Edad:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="edad" th:field="*{edad}" class="form-control"
														maxlength="2" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small>		
												</div>
											</div>
											<div class="col-sm-3">
												<h5><label class="col">Sexo:</label></h5>
												<div class="position-relative mb-4 ">
									            	<select th:field="*{sexo}" id="sexo" class="form-control">
														<option th:value="Femenino" th:text="Femenino"></option>
														<option th:value="Masculino" th:text="Masculino"></option>
													</select>
												</div>
											</div>
											<div class="col-sm-3">
												<h5><label class="col">Celular:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="celular" th:field="*{celular}" class="form-control"
														maxlength="9" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"></small>		
												</div>
											</div>
											<div class="col-sm-3">
												<h5> <label class="col">Fecha Contrato :</label></h5>
												<div class="position-relative">
											    	 <input type="date" class="form-control" th:field="*{fechaIngreso}" placeholder="Fecha de Ingreso"
															th:errorclass="'form-control alert-danger'">
													<small class="form-text text-danger" th:if="${#fields.hasErrors('fechaIngreso')}"
														   th:errors="*{fechaIngreso}"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<h5> <label class="col">Dirección :</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="direccion" th:field="*{direccion}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>		
												</div>
											</div>
										</div>
																				<div class="row">
											<div class="col-sm-4">
												<h5><label class="col">Antecedentes Penales:</label></h5>
												<div class="position-relative">
														<input type="file" name="file1" class="form-control"/>
												</div>
											</div>
											<div class="col-sm-4">
												<h5><label class="col">Antecedentes Policiales:</label></h5>
												<div class="position-relative">
														<input type="file" name="file2" class="form-control"/>
												</div>
											</div>
											<div class="col-sm-4">
												<h5><label class="col">Certificado Domiciliario:</label></h5>
												<div class="position-relative">
														<input type="file" name="file3" class="form-control"/>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="dropdown-divider"></div>
										</div>
										<br>
										<div class="row">
											<div  class="col-lg-5"></div>
											<div class="col-lg-2">
												<input type="submit" value="Enviar" class="btn btn-primary mb-2">
											</div>
										</div>	
									</form>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
