<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<aside th:replace="layout/layout :: aside"></aside>

	<main id="main" class="main">
		<div class="pagetitle">
	      <h1>Trabajador</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a th:href="@{/trabajador/listar}">Listar</a></li>
	          <li class="breadcrumb-item active">Crear</li>
	        </ol>
	      </nav>
	    </div>
	    <hr style="color: blue;"  size="10"/>
	    <section class="section dashboard">
	    	<div class="row">
	    		<div class="col-lg-12">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="card">
	    						<div class="card-body" layout:fragment="contenido">
	    							<form th:action="@{/trabajador/form}" th:object="${trabajador}" method="post" enctype="multipart/form-data">
										
										<div class="row">
											<div class="col-sm-6">
												<h5><label class="col-form-label">Rol:</label></h5>
												<div class="position-relative mb-4 ">
													<select id="elegir_roles" class="form-control" name="elegir_roles"></select>
													
														<script type="text/javascript">
														
														$(document).ready(function() {
															$("#elegir_roles").autocomplete({
																source : function(request, response) {
															 		$.ajax({
															 				url : "/trabajador/cargar-roles/",
																			dataType : "json",
																			data: data,
																			succes: function(data){
																				response($.map(data, function(item) {
																					return {
																						value : item.id,
																						label : item.nombre,
																					};
																				}));
																			},
															 		});
															});
														});
														</script>		
												</div>
											</div>
											<div class="col-sm-6">
												<h5><label class="col-form-label">Id:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="id" th:field="*{id}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>		
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<h5><label class="col-form-label">Nombre Completo:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="nombreCompleto" th:field="*{nombreCompleto}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('nombreCompleto')}" th:errors="*{nombreCompleto}"></small>		
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<h5><label class="col-form-label">Apellido Paterno:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="apellidoPaterno" th:field="*{apellidoPaterno}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="*{apellidoPaterno}"></small>		
												</div>
											</div>
											<div class="col-sm-6">
												<h5><label class="col-form-label">Apellido Materno:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="apellidoMaterno" th:field="*{apellidoMaterno}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('apellidoMaterno')}" th:errors="*{apellidoMaterno}"></small>		
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<h5><label class="col-form-label">Edad:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="edad" th:field="*{edad}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small>		
												</div>
											</div>
											<div class="col-sm-4">
												<h5><label class="col-form-label">Sexo:</label></h5>
												<div class="position-relative mb-4 ">
									            	<select th:field="*{sexo}" id="sexo" class="form-control">
														<option th:value="Femenino" th:text="Femenino"></option>
														<option th:value="Masculino" th:text="Masculino"></option>
													</select>
												</div>
											</div>
											<div class="col-sm-4">
												<h5><label class="col-form-label">Celular:</label></h5>
												<div class="position-relative mb-4 ">
												<input type="text" id="celular" th:field="*{celular}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"></small>		
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col"><p>Informacion Adicional</div>
											<div class="dropdown-divider col-sm-9"></div>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<h5><label class="col-form-label">DNI:</label></h5>
												<div class="position-relative">
												<input type="text" id="DNI" th:field="*{DNI}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}"></small>		
												</div>
											</div>
											<div class="col-sm-4">
												<h5 class="text">Foto:</h5>
												<div class="position-relative">
														<input type="file" name="file" class="form-control"/>
												</div>
											</div>
											<div class="col-sm-4">
												<h5 class="text">Fecha Contrato :</h5>
												<div class="input-group">
											    <span class="input-group-text" id="basic-addon1">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-week" viewBox="0 0 16 16">
													  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"></path>
													  <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
													</svg>
												 </span>
												 <input type="text" class="form-control" placeholder="Fecha de Ingreso" aria-label="Input group example" aria-describedby="basic-addon1">
												 </div>												
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<h5><label class="col-form-label">Email:</label></h5>
												<div class="position-relative">
												<input type="text" id="email" th:field="*{email}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>		
												</div>
											</div>
											<div class="col-sm-6">
												<h5><label class="col-form-label">Contraseña:</label></h5>
												<div class="position-relative">
												<input type="text" id="password" th:field="*{password}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>		
												</div>
											</div>
										</div>
										<div class="row">
											<div  class="col-lg-5"></div>
											<div class="col-lg-2">
												<input type="submit" value="Enviar" class="btn btn-primary mb-2">
											</div>
										</div>	
									</form>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
