<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<aside th:replace="layout/layout :: aside"></aside>

	<main id="main" class="main">
		<div class="pagetitle">
	      <h1>Material</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a th:href="@{/material/listar}">Listar</a></li>
	          <li class="breadcrumb-item active">Crear</li>
	        </ol>
	      </nav>
	    </div>
	    <section class="section dashboard">
	    	<div class="row">
	    		<div class="col-lg-12">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="card">
	    						<div class="card-body" layout:fragment="contenido">
	    							<form th:action="@{/material/form}" th:object="${material}" method="post" enctype="multipart/form-data">
	    								<div class="row">
	    									<div class="col-6">
		    									<h5 class="text">Código</h5>
		    									<div class="position-relative mb-4">
		    										<input type="text" id="codigo" th:field="*{codigo}" class="form-control">
		    									</div>
		    								</div>
		    								<div class="col-6">
		    									<h5 class="text">Nombre</h5>
		    									<div class="position-relative mb-4">
		    										<input type="text" id="nombre" th:field="*{nombre}" class="form-control">
		    									</div>
		    								</div>
	    								</div>
	    								<div class="row">
	    									<div class="col-6">
		    									<h5 class="text">Marca</h5>
		    									<div class="position-relative mb-4">
		    										<input type="text" id="marca" th:field="*{marca}" class="form-control">
		    									</div>
		    								</div>
		    								<div class="col-6">
		    									<h5 class="text">Cantidad</h5>
		    									<div class="position-relative mb-4">
		    										<input type="number" id="cantidad" th:field="*{cantidad}" class="form-control">
		    									</div>
		    								</div>
	    								</div>
	    								<div class="row">
	    									<div class="col-6">
		    									<h5 class="text">Unidad de Medida</h5>
		    									<div class="position-relative mb-4">
		    										<select th:field="*{unidadMedida}" id="unidadmedida" class="form-control">
		    											<option th:each="unidadmedida:${unidadmedida}" th:value="${unidadmedida.id}" th:text="${unidadmedida.descripcion}"></option>
		    										</select>
		    									</div>
		    								</div>
		    								<div class="col-6">
		    									<h5 class="text">Tipo</h5>
		    									<div class="position-relative mb-4">
		    										<select th:field="*{tipo}" id="tipo" class="form-control">
		    											<option th:each="tipo:${tipo}" th:value="${tipo.id}" th:text="${tipo.descripcion}"></option>
		    										</select>
		    									</div>
		    								</div>
	    								</div>
	    								<!--  <div class="row">
	    									<div class="col-3"></div>
	    									<div class="col-6">
	    										<h5 class="text">Inventario</h5>
		    									<div class="position-relative mb-4">
		    										<select th:field="*{inventario}" id="inventario" class="form-control">
		    											<option th:each="inventario:${inventario}" th:value="${inventario.id}" th:text="${inventario.nombre}"></option>
		    										</select>
		    									</div>
	    									</div>
	    								</div>-->
	    								<div class="row">
											<div  class="col-lg-5"></div>
											<div class="col-lg-2">
												<input type="submit" value="Enviar" class="btn btn-primary mb-2">
											</div>
										</div>
	    							</form>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>