<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<aside th:replace="layout/layout :: aside"></aside>

	<main id="main" class="main">
		<div class="pagetitle">
	      <h1>Material</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a th:href="@{/material/listar}">Listar</a></li>
	          <li class="breadcrumb-item active">Crear</li>
	        </ol>
	      </nav>
	    </div>
	    <hr style="color: blue;"  size="10"/>
	    <section class="section dashboard">
	    	<div class="row">
	    	<div class="form-group row">
	    		<div class="col-lg-12">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="card">
	    						<div class="card-body" layout:fragment="contenido">
	    							<div th:replace="layout/mensajes :: mensajes"></div>
	    							<form th:action="@{/material/form}"method="post">
	    								<div class="row">
	    									
		    								<div class="col-sm-8">
		    									<h5><label class="col-form-label">Nombre</label></h5>
		    									<div class="position-relative mb-4">
		    										<input type="text" id="nombre" name="nombre" class="form-control" required>
		    									</div>
		    								</div>
		    								<div class="col-sm-4">
		    									<h5><label class="col-form-label">Marca</label></h5>
		    									<div class="position-relative mb-4">
		    										<input type="text" id="marca" th:field="marca" class="form-control">
		    									</div>
		    								</div>
		    								
	    								</div>
	    								<div class="row">
			    							<div class="col-sm-2">
		    									<h5><label class="col-form-label">Stock</label></h5>
		    									<div class="position-relative mb-4">
		    										<input type="number" id="stock" name="stock" class="form-control"
		    											th:errorclass="'form-control alert-danger'" required>
		    									</div>
		    								</div>
	    									<div class="col-sm-6">
		    									<h5><label class="col-form-label">Unidad de Medida</label></h5>
		    									<div class="position-relative mb-4">
		    										<select name="unidadMedida_id" id="unidadmedida" class="form-control">
		    											<option th:each="unidadmedida:${unidadmedida}" th:value="${unidadmedida.id}" th:text="${unidadmedida.descripcion}"></option>
		    										</select>
		    									</div>
		    								</div>
		    								<div class="col-sm-4">
		    									<h5><label class="col-form-label">Tipo</label></h5>
		    									<div class="position-relative mb-4">
		    										<select name="tipo_id" id="tipo" class="form-control">
		    											<option th:each="tipo:${tipo}" th:value="${tipo.id}" th:text="${tipo.descripcion}"></option>
		    										</select>
		    									</div>
		    								</div>		    								
		    								
		    								
		    								
	    								</div>
	    								<div class="row">
	    									<div class="col-3"></div>
	    									<div class="col-6">
	    										<h5 class="text">Inventario</h5>
		    									<div class="position-relative mb-4">
		    										<input  type="text" name="inventario"
		    											th:value="${inventario.nombre}"
		    											class="form-control" disabled='disabled'/>
		    									</div>
	    									</div>
	    								</div>
	    								<div class="row">
											<div  class="col-lg-4"></div>
											<div  class="col-lg-2">
												<a class="btn btn-danger" th:href="@{/inventario/listar}" th:text="'Cancelar'"></a>
											</div>
											<div class="col-lg-2">
												<input type="submit" value="Guardar" class="btn btn-success mb-2">
											</div>
										</div>
	    							</form>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	
	    	</div>
	    </section>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>