<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<aside th:replace="layout/layout :: aside"></aside>

	<main id="main" class="main">
		<div class="pagetitle">
	      <h1>Material</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	          <li class="breadcrumb-item active">Listar</li>
	        </ol>
	      </nav>
	    </div>
		
	    <section class="section dashboard">
	    	<div class="row">
	    		<div class="col-lg-12">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="card">
	    						<div class="card-body" layout:fragment="contenido">
	    							<table class="table datatable">
										<thead>
											<tr style="background: #70b8f0">
												<th>ID</th>
												<th>Nombre</th>
												<th>Marca</th>
												<th>Cantidad</th>
												<th>Unidad de Medida</th>
												<!--<th>Inventario</th>-->
												<th>Tipo</th>
												<th>Editar</th>
												<th>Eliminar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each ="material: ${material}">
												<th th:text="${material.id}"></th>
												<th th:text="${material.nombre}"></th>
												<th th:text="${material.marca}"></th>
												<th th:text="${material.cantidad}"></th>
												<th th:text="${material.unidadMedida.descripcion}"></th>
												<!-- <th th:each=" inventario:${inventario}" th:text="${material.inventario.nombre}"></th>-->
												<th th:text="${material.tipo.descripcion}"></th>
												<th><a class="btn btn-success btn-sm bi bi-pencil-square" 
													th:href="@{/material/form/} + ${material.id}"></a></th>
												<th><a class="btn btn-danger btn-sm bi bi-trash"
													th:href="@{/material/eliminar/} + ${material.id}"
													onclick="return confirm('¿Estás seguro que quieres eliminar?');"></a></th>
											</tr>
										</tbody>
									</table>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>