<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<aside th:replace="layout/layout :: aside"></aside>

	<main id="main" class="main">
		<div class="pagetitle">
	      <h1>Contacto</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	          <li class="breadcrumb-item active">Contacto</li>
	        </ol>
	      </nav>
	    </div>
	    <section class="section dashboard">
	    	<div class="row">
	    		<div class="col-lg-12">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="card">
	    						<div class="card-body" layout:fragment="contenido">
	    							<br>
	    							<div class="row">
	    								<h2 style="color:#0b1778"><center><b>Contáctanos</b></center></h2>
	    								<h6 style="color:#1f30bd">
	    									<center>
	    										Bienvenido a Austral SAC. Somos una empresa dedicada a brindar servicios <br>
	    										de metalmecánica y obras civiles a la minera “Poderosa S.A.”.
	    									</center>
	    								</h6>
	    							</div>
	    							<br>
	    							<div class="row">
	    								<div class="col-1"></div>
	    								<div class="col-4">
	    									<div class="card" style="width: 18rem;">
	    										<img class="card-img-top" alt="Whatsapp" th:src="@{/assets/img/wsp.jpg}">
	    										<div class="card-body">
	    											<h5 class="card-title">Consultas por Whastapp</h5>
	    											<p class="card-text">Tel.: +51999457178</p>
	    											<center><a href="https://wa.me/51999457178" class="btn btn-primary">Consultar</a></center>
	    										</div>
	    									</div>
	    								</div>
	    								<div class="col-2"></div>
	    								<div class="col-4"></div>
	    							</div>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>