<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<aside th:replace="layout/layout :: aside"></aside>

	<main id="main" class="main">
		<div class="pagetitle">
	      <h1>Obras</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	          <li class="breadcrumb-item active">Listar</li>
	        </ol>
	      </nav>
	    </div>
	    <h4 class="card-title">
			<a th:href="@{/trabajador/form}" class="btn" style="background: #70b8f0">Crear Obras</a>
		</h4>
	    <section class="section dashboard">
	    	<div class="row">
	    		<div class="col-lg-12">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="card">
	    						<div class="card-body" layout:fragment="contenido">
	    							<table class="table datatable">
										<thead>
											<tr style="background: #70b8f0">
												<th><center>ID</center></th>
												<th><center>Descripción</center></th>
												<th><center>Fecha de Inicio</center></th>
												<th><center>Zona</center></th>
												<th><center>Estado</center></th>
												<th><center>Editar</center></th>
												<th><center>Eliminar</center></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each ="obra: ${obra}">
												<th th:text="${obra.id}"></th>
												<th th:text="${obra.descripcion}"></th>
												<th th:text="${obra.fechaInicio}"></th>
												<th th:text="${obra.zona}"></th>
												<th th:text="${obra.estado}"></th>
												<th><center><a class="btn btn-success btn-sm bi bi-pencil-square" 
													th:href="@{/obra/form/} + ${obra.id}"></a></center></th>
												<th><center><a class="btn btn-danger btn-sm bi bi-trash"
													th:href="@{/obra/eliminar/} + ${obra.id}"
													onclick="return confirm('¿Estás seguro que quieres eliminar?');"></a></center></th>
											</tr>
										</tbody>
									</table>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>