<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<aside th:replace="layout/layout :: aside"></aside>

	<main id="main" class="main">
		<div class="pagetitle">
	      <h1>Unidad de Medida</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a th:href="@{/inventario/inicio}">Inicio</a></li>
	          <li class="breadcrumb-item active">Listar</li>
	        </ol>
	      </nav>
	    </div>
	    <h4 class="card-title">
			<a th:href="@{/unidadmedida/form}" class="btn" style="background: #70b8f0">Crear Unidad de Medida</a>
		</h4>
	    <section class="section dashboard">
	    	<div class="row">
	    		<div class="col-lg-12">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="card">
	    						<div class="card-body" layout:fragment="contenido">
	    							<table class="table table-striped">
										<thead>
											<tr style="background: #70b8f0">
												<th>ID</th>
												<th>Descripción</th>
												<th>Abreviatura</th>
												<th>Editar</th>
												<th>Eliminar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each ="unidadmedida: ${unidadmedida}">
												<th th:text="${unidadmedida.id}"></th>
												<th th:text="${unidadmedida.descripcion}"></th>
												<th th:text="${unidadmedida.abreviatura}"></th>
												<th><a class="btn btn-success btn-sm" 
													th:href="@{/unidadmedida/form/} + ${unidadmedida.id}" th:text="'Editar'"></a></th>
												<th><a class="btn btn-danger btn-sm"
													th:href="@{/unidadmedida/eliminar/} + ${unidadmedida.id}" th:text="'Eliminar'"
													onclick="return confirm('¿Estás seguro que quieres eliminar?');"></a></th>
											</tr>
										</tbody>
									</table>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>