<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
</head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<aside th:replace="layout/layout :: aside"></aside>

	<main id="main" class="main">
		<div class="pagetitle">
	      <h1>Inventario</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a th:href="@{/inventario/listar}">Listar</a></li>
	          <li class="breadcrumb-item active">Crear</li>
	        </ol>
	      </nav>
	    </div>
	    <section class="section dashboard">
	    	<div class="row">
	    		<div class="col-lg-12">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="card">
	    						<div class="card-body" layout:fragment="contenido">
	    							<form th:action="@{/inventario/form}" th:object="${inventario}" method="post" enctype="multipart/form-data">
										<div class="row">
											<div class="col-4"></div>
											<div class="col-4">
												<h5 class="text">Nombre</h5>
												<div class="position-relative mb-4">
													<input type="text" id="nombre" th:field="*{nombre}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>		
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-4"></div>
											<div class="col-4">
												<h5 class="text">Ubicación</h5>
												<div class="position-relative mb-4">
													<input type="text" id="ubicacion" th:field="*{ubicacion}" class="form-control"
														th:errorclass="'form-control alert-danger'"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('ubicacion')}" th:errors="*{ubicacion}"></small>		
												</div>
											</div>
										</div>
										<div class="row">
											<div  class="col-lg-5"></div>
											<div class="col-lg-2">
												<input type="submit" value="Enviar" class="btn btn-primary mb-2">
											</div>
										</div>	
									</form>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>